@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*Подключенные шрифты*/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*--------------------*/
body {
  font-family: Raleway, sans-serif;
  font-size: medium;
  height: 100%;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  color: white;
}

.header:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #3b3b3b;
  z-index: 2;
}

.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header__body .header__title {
  font-family: Lobster, sans-serif;
  font-size: 28px;
  position: relative;
  z-index: 3;
}

.header .header__body .header__title:hover {
  color: #009edd;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__body .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header .header__body .header__list .header__link {
  color: white;
  font-size: 20px;
  margin-right: 25px;
  list-style: none;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.header .header__body .header__list .header__link:hover {
  color: #009edd;
  border-bottom: solid 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works {
  padding-top: 80px;
}

.works p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger::before, .header .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    padding: 80px 0px 0px 20px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header .header__menu .header__list {
    text-transform: uppercase;
    display: block;
  }
  .header .header__menu .header__list li {
    margin: 10px 0px 30px 0px;
  }
  .header .header__menu.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  body.lock {
    overflow: hidden;
  }
}
